.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: rgb(34, 209, 34);
}
.incorrect {
  background-color: rgb(240, 36, 36);
}

/*HUD*/

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

/* Updated progress bar styles */
#progressBar {
  position: relative;
  width: 30rem;
  height: 6rem;
  border: 0.3rem solid #56a5eb;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background-color: #56a5eb;
  width: 0; /* Initial width, change dynamically with JavaScript */
}

#revealedImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
